<div id="sidebar">
    <ul class="sidebar-list">
        <li class="list" id="mobile-pic">
            <div style="margin-right:10px">
                <center>
                    <i style="font-size:40px;margin-top:10px;color:white" id="mobile-img" class="fa fa-user"></i>
                </center>
            </div>
        </li>
        <li class="list" id="bars">
        <a onclick="openbar()" id="open">
            <span class="list-span">
                <i class="fas fa-bars" id="icon"></i>
            </span>
                Cq
        </a>
        </li>

        <li class="list">
            <a id="home">
                <span class="list-span">
                    <i class="fas fa-user" id="icon"></i>
                </span>
                <%=product.name%>
            </a>
        </li>




        <li class="list">
            <a id="communities">
                <span class="list-span">
                    <i class="fa fa-users" id="icon"></i>
                </span>
                Communities
            </a>
        </li>



        <li class="list">
            <a id="switch">
                <span class="list-span">
                    <i class="fas fa-toggle-off" id="icon"></i>
                </span>
                Switch As Admin
            </a>
        </li>




        <li class="list">
            <a id="change">
                <span class="list-span">
                    <i class="fas fa-lock" id="icon"></i>
                </span>
                Change Password
            </a>
        </li>



        <li class="list">
            <a id="logout">
                <span class="list-span">
                    <i class="fas fa-sign-out-alt" id="icon"></i>
                </span>
                Logout
            </a>
        </li>




    </ul>
</div>
