<nav id="navbar">

        <div class="container-fluid">
            <div id="leftpanel" style="float:left;">
                 <a id="cq" class="navbar-brand" href="#">cq</a>


                    <a  id="openbox" >
                        <span class="fas fa-sign-out-alt"></span>
                    </a>

                        </div>
            <div id="rightpanel" style="float:right;">

                 <img style="float:right;margin-top:10px;margin-right:10px;width:40px;height:40px;border-radius:50%" id="editbtn" src="<%=product.photoname%>" >


                 <span class="label label-warning" id="sadmin" style="float:right;margin-right:20px;background:#F0AD4E;">
                    <%=product.name%>
                </span>

            </div>
        </div>

</nav>
