<!--
   <div id="menu">
   <div class="menu_item" id="mobile-pic">
                <center>
                    <i id="mobile-img" style="font-size:15px" class="fa fa-user"></i>
                </center>
        </div>
		<div class="menu-item" id="sideBtn"><i id="icon" class="fa fa-bars"></i><span>cq</span></div>
		<div class="menu-item active" id="home"><i id="icon" class="fa fa-home"></i><span>Home</span></div>
		<div class="menu-item" id="add"><i id="icon" class="fa fa-plus-square"></i><span>Add User</span></div>
		<div class="menu-item" id="userslist"><i id="icon" class="fa fa-list-ul"></i><span>Users List</span></div>
		<div class="menu-item" id="community"><i id="icon" class="fa fa-list-alt"></i><span>Community List</span></div>
		<div class="menu-item" id="switch"><i id="icon" class="fa fa-toggle-off"></i><span>Switch As User</span></div>
		<div class="menu-item" id="tagpanel"><i id="icon" class="fa fa-tags"></i><span>Tag Panel</span></div>
		<div class="menu-item" id="change"><i id="icon" class="fa fa-lock"></i><span>Change Password</span></div>
		<div class="menu-item" id="logout"><i id="icon" class="fa fa-sign-out"></i><span>Logout</span></div>
	</div>
-->
	





<div id="sidebar">
    <ul class="sidebar-list">
        <li class="list" id="mobile-pic">
            <div style="margin-right:10px">
                <center>
                    <i style="font-size:40px;margin-top:10px;color:white" id="mobile-img" class="fa fa-user"></i>
                </center>
            </div>
        </li>
        <li class="list" id="bars">
        <a onclick="openbar()" id="open">
            <span class="list-span">
                <i class="fas fa-bars" id="icon"></i>
            </span>
                Cq
        </a>
        </li>

        <li class="list active">
            <a id="home">
                <span class="list-span">
                    <i class="fas fa-home" id="icon"></i>
                </span>
                Home
            </a>
        </li>




        <li class="list">
            <a id="add">
                <span class="list-span">
                    <i class="fas fa-plus-square" id="icon"></i>
                </span>
                Add User
            </a>
        </li>




        <li class="list">
            <a id="userslist">
                <span class="list-span">
                    <i class="fas fa-list" id="icon"></i>
                </span>
                Users List
            </a>
        </li>




        <li class="list">
            <a id="community">
                <span class="list-span">
                    <i class ="	fas fa-list-alt" id="icon"></i>
                </span>
                Community List
            </a>
        </li>

        <li class="list">
            <a id="switch">
                <span class="list-span">
                    <i class="fas fa-toggle-off" id="icon"></i>
                </span>
                Switch As User
            </a>
        </li>



        <li class="list">
            <a id="tagpanel">
                <span class="list-span">
                    <i class="fas fa-tags" id="icon"></i>
                </span>
                Tag Panel
            </a>
        </li>

        <li class="list">
            <a id="change">
                <span class="list-span">
                    <i class="fas fa-lock" id="icon"></i>
                </span>
                Change Password
            </a>
        </li>



        <li class="list">
            <a id="logout">
                <span class="list-span">
                    <i class="fas fa-sign-out-alt" id="icon"></i>
                </span>
                Logout
            </a>
        </li>




    </ul>
</div>









