<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>cq</title>
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" >

      <link href="menu.css" rel="stylesheet" type="text/css">
      <link href="sidebar.css" rel="stylesheet" type="text/css">
      <!-- BOOTSTRAP 3-->
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">
    </script>
      
      
      
	<link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.16/css/jquery.dataTables.min.css">
	<link rel="stylesheet" href="./partials/CQ_files/notie.min.css">
	<link rel="stylesheet" href="./partials/CQ_files/all.css">
	<link rel="stylesheet" type="text/css" href="./partials/CQ_files/dataTables.bootstrap.min.css">
	<link rel="stylesheet" type="text/css" href="./partials/CQ_files/dataTables.fontAwesome.css">

	<link rel="stylesheet" href="./partials/CQ_files/CustomDatatable.css">
	<link rel="stylesheet" href="./partials/CQ_files/datatable.css">

	<link rel="stylesheet" href="./partials/CQ_files/trumbowyg.css">
	<link rel="stylesheet" href="./partials/CQ_files/bootstrap.min.css">
	<script src="./partials/CQ_files/jquery.min.js.download"></script>
	<script src="./partials/CQ_files/bootstrap.min.js.download"></script>
	<link rel="stylesheet" href="./partials/CQ_files/jquery-confirm.min.css">
	<link rel="stylesheet" href="./partials/CQ_files/select2BootstrapTheme.css">
	<link rel="stylesheet" href="./partials/CQ_files/select2.min.css">
	<script src="./partials/CQ_files/jquery-confirm.min.js.download"></script>
	<link rel="stylesheet" href="./partials/CQ_files/style.css">
	<link rel="stylesheet" href="./partials/CQ_files/sidenav.css">
	<link rel="stylesheet" href="./partials/CQ_files/CommunityStyle.css">
	<link rel="stylesheet" href="./partials/CQ_files/CrazyGraphics.css">
      
      
       <style>
           .active {
			background-color: #51a1e2 !important;
		}
           .content-div{
  margin-top:2%;
  width: 100%;
}
.null-link{
  color: black
}
.null-link:hover{
  color:black;
  text-decoration: none;
}
.panel-main-div:hover{
  box-shadow:0 3px 10px 0 rgba(115,143,147,.2);
}
           
    @media(max-width: 768px){
  .content-div{
    margin-top:5%;
    width: 100% !important;
  }
}
           </style>
</head>
<body class="body">
  <center>
                                    <div id="delModal1" class="modal fade" role = "dialog" style="background:#404F65;opacity:.5;z-index:9999;">
                                        <div class="modal-dialog modal-sm" style="position:relative;top:35%!important;">
                                            <div id="move" class="modal-content" style="background:transparent;border:0;box-shadow:0px 0px 0px 0px">
                                                <div class="modal-header" style="border-bottom:0">
                                                    <h2 style="color:#FAFBFB" class="modal-title">Confirm Logout</h2>
                                                </div>
                                                <div class="modal-body">
                                                    <p style="color:white">Do you really want logout? </p>
                                                </div>
                                                <div class="modal-footer" style="border-top:0;text-align:center">
                                                    <button id="log" type="button" class="btn btn-default" style="background:#303F53;border:0;color:white;width:28%;height:15%">Yes</button>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal" style="background:#303F53;border:0;color:white;width:28%;height:15%">No</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </center>
    <%include partials/menu.html %>
    <div id="viewscreen">
    <%include partials/sidebar.html %>
    <div id="rightview">
    <!--<center>
    <div style="height:250px;width:50%;margin-top:150px;">
        <div style="width:100%;height:200px;box-shadow:0px 0px 10px grey;padding:10px;box-sizing:border-box;background:white;">
           <div style="width:100%;height:50px;padding:10px;border-bottom:1px solid grey;box-sizing:border-box;margin-top:10px"> <a style="font-size:30px;float:left;color:grey">Create Tag</a>
            </div>
            <input id="tagname" type="text" style="width:100%;margin-top:20px;height:30px;padding:10px;box-sizing:border-box" placeholder="Tag Name">
            <button id="submit" style="width:100%;height:30px;background:#337AB7;color:white;border:0;margin-top:20px">Submit</button>
        </div>
        <div style="height:50px;width:100%;padding:4px;box-sizing:border-box;">
            <center><button id="taglist" style="background:#F0AD4E;color:white;margin-top:6px;border:0;height:30px">Tag Lists</button></center>
        </div>
    </div>
        </center>-->
<!--
        <div id="page-content-wrapper" style="padding:0;margin-top:60px"> Margin Top is new
         <div class="container-fluid page-content-div" style="padding:0">
            <div class="row">
               <div class="col-lg-12 scoll-possible" style="padding:0">
-->





	<style>
	.tagDivMain{
		background:white
	}
	</style>
	<center>
                                    <div id="delModal" class="modal fade" role = "dialog">
                                        <div class="modal-dialog modal-sm" style="position:relative;top:35%!important;">
                                            <div class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Switch As User</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Do you really want switch state... </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button type="button" class="btn btn-success">Yes</button>
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </center>
<div class="content-div">
  <div class="container" style="padding-top:100px">
    <div class="col-sm-6 col-md-6 col-lg-6 col-xs-10 col-xs-push-1 col-lg-push-3 col-sm-push-3 col-md-push-3  allSides tagDivMain">
        <h3 class="page-header" style="color:#707070">Create Tag</h3>
        <form id="createTagForm">
            <div class="form-group">
                <input class="form-control" type="text" name="tagName" placeholder="Tag Name" id="tagname" >
            </div>
            <div class="form-group">
                    <input id="submit" onclick="dosomething('<%=product.name%>')" class="form-control btn btn-primary" type="button" value="Submit">
            </div>
        </form>
      </div>
    </div>
    </div>
    <center>
      <a  id="tags" class="btn btn-warning btn-sm" style="margin-top:10px">Tag Lists</a>
    </center>
<br />
<br />


</div>
</div>

<!--
</div>
</div>
        </div>
        </div>
-->
</body>
<script type="text/javascript">
    var list = sidebar.getElementsByTagName("li");
     for(var i = 0;i<list.length;i++) {
        list[i].classList.remove("active");
        
    }
    list[7].classList.add("active");
		 function openbar()
{
    var element = document.getElementById("viewscreen");
    element.classList.toggle("toggle-pc");

    var element = document.getElementById("sidebar");
    element.classList.toggle("sidebar-width");


    var element = document.getElementById("rightview");
    element.classList.toggle("set-rightview");
}
    var tagname=document.getElementById("tagname");
    function dosomething(creator)
                           {
  function getMonths(monthno)
  {
    var month=["Jan","Feb","Mar","Apr","Jun","Jul","Aug","Sep","Oct","Nov","Dec"];
    return month[monthno-1];
  }
        if(tagname.value=="")
            alert("Please enter tag name");
        else
            {
    var ob=new Object();
    ob.tagname=tagname.value;       
    var date = new Date()
    console.log(date);
    var today = new Date();
    var dd = today.getDate();
    var mm = today.getMonth()+1;
    var yyyy = today.getFullYear();
    var hrs = today.getHours();
    var mins = today.getMinutes();
    var format="AM";
    if(hrs>12)
    {
      hrs= hrs - 12;
      format= "PM";
    }
    today = + dd + '-' + getMonths(mm) + '-' + yyyy;
    today= today + " ( " + hrs + ':' + mins + ' ' + format + " )";
    console.log(today);
    ob.created= creator;           
    ob.date1=today;
    ob.delete="1";            
        var xhr=new XMLHttpRequest();
        xhr.open("POST","/tag1");
        xhr.setRequestHeader("Content-Type","application/json");
        xhr.send(JSON.stringify(ob));
        xhr.onload=function()
        {
        if(xhr.responseText=='1')
            alert("Tag added");
        }
            }
    }
    var add=document.getElementById("add");
    add.addEventListener("click",function(event)
                        {
        window.location="/add";
    });
         var home=document.getElementById("home");
    home.addEventListener("click",function(event)
                         {
        window.location="/profile";
    });
   var editbtn=document.getElementById("editbtn");
    editbtn.addEventListener("click",function(event)
                            {
        window.location="/edit";
    });
        var changepass=document.getElementById("change");
           changepass.addEventListener("click",function(event)
                            {
        window.location="/changepass";
    });
    var taglist=document.getElementById("tags");
    taglist.addEventListener("click",function(event)
                            {
        window.location="/taglist";
    });
     var userlt=document.getElementById("userslist");
    userlt.onclick=function()
    {
        window.location="/userlist";
    }
     var switch1=document.getElementById("switch");
     switch1.setAttribute("data-toggle","modal");
    switch1.setAttribute("data-target","#delModal");
var logout=document.getElementById("logout");
      logout.setAttribute("data-toggle","modal");
    logout.setAttribute("data-target","#delModal1");
    var yas=document.getElementById("log");
    yas.onclick=function()
    {
        location.href="/login.html";
    }
    
     dragElement(document.getElementById("move"));

function dragElement(elmnt) {
  var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
  if (document.getElementById(elmnt.id + "header")) {
    /* if present, the header is where you move the DIV from:*/
    document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
  } else {
    /* otherwise, move the DIV from anywhere inside the DIV:*/
    elmnt.onmousedown = dragMouseDown;
  }

  function dragMouseDown(e) {
    e = e || window.event;
    e.preventDefault();
    // get the mouse cursor position at startup:
    pos3 = e.clientX;
    pos4 = e.clientY;
    document.onmouseup = closeDragElement;
    // call a function whenever the cursor moves:
    document.onmousemove = elementDrag;
  }

  function elementDrag(e) {
    e = e || window.event;
    e.preventDefault();
    // calculate the new cursor position:
    pos1 = pos3 - e.clientX;
    pos2 = pos4 - e.clientY;
    pos3 = e.clientX;
    pos4 = e.clientY;
    // set the element's new position:
    elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
    elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
  }

  function closeDragElement() {
    /* stop moving when mouse button is released:*/
    document.onmouseup = null;
    document.onmousemove = null;
  }
}
</script>
</html>