<!DOCTYPE html>
<html>
    <head>
        <meta name="viewport" content="width=device-width" initial-scale="1.0">
        <title>Cq</title>
        <link href="deactivate.css" type="text/css" rel="stylesheet">
        <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" >
        <!-- BOOTSTRAP -->
        <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js"></script>

    </head>

    <body>
        <nav id="wnavbar">
            <center>
                <h2>Cq</h2>
            </center>
        </nav>
        <div class="conatiner" style="padding-top:100px;">
            <center>
                <img src="robot.png" class="rotate" id="roboimg">
            </center>
            <center>
                <div id="alertDiv" style="background-color:#222D3C;color:#fff">
                    <p>
                        <strong> Error : Unable to login you are deactivated contact site admin...</strong>
                    </p>
                </div>
            </center>
        </div>
    </body>
</html>
