<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <title>cq</title>
     <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css" >
       <%include link.ejs%>
      <link href="menu.css" rel="stylesheet" type="text/css">
      <link href="sidebar.css" rel="stylesheet" type="text/css">
      <!-- BOOTSTRAP 3-->
       <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css">
        <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.0/jquery.min.js"></script>
        <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js">
    </script>
       
       <style>
           .active {
			background-color: #51a1e2 !important;
		}
              .content-div{
  margin-top:2%;
}
           
      @media(max-width: 768px){
  .content-div{
    margin-top:5%;
  }
                        .div-min-width
    {
        width:360px;
    }
   #cont
    {
       padding:0;
    }
}
           </style>
</head>
<body class="body">
          
            <center>
                                    <div id="delModal1" class="modal fade" role = "dialog" style="background:#404F65;opacity:.5;z-index:9999;">
                                        <div class="modal-dialog modal-sm" style="position:relative;top:35%!important;">
                                            <div id="move" class="modal-content" style="background:transparent;border:0;box-shadow:0px 0px 0px 0px">
                                                <div class="modal-header" style="border-bottom:0">
                                                    <h2 style="color:#FAFBFB" class="modal-title">Confirm Logout</h2>
                                                </div>
                                                <div class="modal-body">
                                                    <p style="color:white">Do you really want logout? </p>
                                                </div>
                                                <div class="modal-footer" style="border-top:0;text-align:center">
                                                    <button id="log" type="button" class="btn btn-default" style="background:#303F53;border:0;color:white;width:28%;height:15%">Yes</button>
                                                    <button type="button" class="btn btn-default" data-dismiss="modal" style="background:#303F53;border:0;color:white;width:28%;height:15%">No</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </center>
    <%include partials/usermenu.html %>
          <div id="viewscreen">
          <%include partials/usersidebar.html %>
          <div id="rightview">

           <center>
                                    <div id="delModal" class="modal fade" role = "dialog">
                                        <div class="modal-dialog modal-sm" style="position:relative;top:35%!important;">
                                            <div  class="modal-content">
                                                <div class="modal-header">
                                                    <h4 class="modal-title">Switch As Admin</h4>
                                                </div>
                                                <div class="modal-body">
                                                    <p>Do you really want switch state... </p>
                                                </div>
                                                <div class="modal-footer">
                                                    <button id="ya" type="button" class="btn btn-success">Yes</button>
                                                    <button type="button" class="btn btn-danger" data-dismiss="modal">No</button>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </center>
                <div class="content-div">                
               <div class="container div-min-width" id="cont">
      <div class="col-sm-3">
      </div>
      <div class="col-sm-6" style="background-color:#fff;border:5px solid rgba(0,0,0,0.1);margin-top:40px">
        <br>
        
        <h1>Change Password</h1>

          <form class="form-horizontal" id="form">
            <div class="col-sm-12">
                  <div class="form-group">
                      <label>Old Password:</label>&nbsp;&nbsp;<br>
                      <input type="password" required name="oldPassword" class="form-control" id="old"><br/>
                  </div>
                  <div class="form-group">
                      <label>New Password:</label>&nbsp;&nbsp;<br>
                      <input type="password" required name="newPassword" class="form-control" id="new"><br/>
                  </div>
                  <div class="form-group">
                      <input id="submit" type="submit" value="Submit" class="btn btn-success">
                  </div>
            </div>
          </form>
      </div>
                    </div>

              </div>
              </div>
              
              
    </div>
    <p id="vis" style="visibility:hidden"><%=product.role%></p> 
</body>
<script type="text/javascript">
     var list = sidebar.getElementsByTagName("li");
    for(var i = 0;i<list.length;i++) {
        list[i].classList.remove("active");
       
    }
     list[4].classList.add("active");
    function openbar()
{
    var element = document.getElementById("viewscreen");
    element.classList.toggle("toggle-pc");

    var element = document.getElementById("sidebar");
    element.classList.toggle("sidebar-width");


    var element = document.getElementById("rightview");
    element.classList.toggle("set-rightview");
}
    var add=document.getElementById("home");
    add.addEventListener("click",function(event)
                        {
        window.location="/userprofile";
    });
      var add=document.getElementById("communities");
    add.addEventListener("click",function(event)
                        {
        if(document.getElementById("vis").innerHTML=="User")
            window.location="/simpleusercommunities";
        else
        window.location="/usercommunities";
    });
    var editbtn=document.getElementById("editbtn");
    editbtn.addEventListener("click",function(event)
                            {
        window.location="/useredit";
    });
    var logout=document.getElementById("logout");
      logout.setAttribute("data-toggle","modal");
    logout.setAttribute("data-target","#delModal1");
    var yas=document.getElementById("log");
    yas.onclick=function()
    {
        location.href="/login.html";
    }
    var submit=document.getElementById("submit");
    submit.addEventListener("click",function(event)
 {
        var oldpassword=document.getElementById("old");
        var newpassword=document.getElementById("new");
        if(oldpassword.value==""||newpassword.value=="")
            alert("Please enter value");
        else
            {
        var ob=new Object();
        ob.oldpass=oldpassword.value;
        ob.newpass=newpassword.value;
        console.log(ob);
        var xhr=new XMLHttpRequest();
        xhr.open("POST","/changepass1");
        xhr.setRequestHeader("Content-Type","application/json");
        xhr.send(JSON.stringify(ob));
        xhr.addEventListener("load",function(event)
                            {
            if(xhr.responseText=="0")
                alert("Incorrect old password");
            else
                alert("Password change successfully");
        });
            }
        
    });
     dragElement(document.getElementById("move"));

function dragElement(elmnt) {
  var pos1 = 0, pos2 = 0, pos3 = 0, pos4 = 0;
  if (document.getElementById(elmnt.id + "header")) {
    /* if present, the header is where you move the DIV from:*/
    document.getElementById(elmnt.id + "header").onmousedown = dragMouseDown;
  } else {
    /* otherwise, move the DIV from anywhere inside the DIV:*/
    elmnt.onmousedown = dragMouseDown;
  }

  function dragMouseDown(e) {
    e = e || window.event;
    e.preventDefault();
    // get the mouse cursor position at startup:
    pos3 = e.clientX;
    pos4 = e.clientY;
    document.onmouseup = closeDragElement;
    // call a function whenever the cursor moves:
    document.onmousemove = elementDrag;
  }

  function elementDrag(e) {
    e = e || window.event;
    e.preventDefault();
    // calculate the new cursor position:
    pos1 = pos3 - e.clientX;
    pos2 = pos4 - e.clientY;
    pos3 = e.clientX;
    pos4 = e.clientY;
    // set the element's new position:
    elmnt.style.top = (elmnt.offsetTop - pos2) + "px";
    elmnt.style.left = (elmnt.offsetLeft - pos1) + "px";
  }

  function closeDragElement() {
    /* stop moving when mouse button is released:*/
    document.onmouseup = null;
    document.onmousemove = null;
  }
}
</script>
</html>
